---
layout: default
title: Förderverein Pfarrzentrum St. Martin Cochem e.V.
permalink: /
---

<!-- Header -->
<section id="header">
  <div class="inner">
    <img class="image" src="{{ site.github.url }}/images/logo.svg" alt="" style="width:45%"/>
    <h1>Unser <strong>Pfarrhaus</strong> im Herzen der Stadt muss erhalten bleiben,</h1>
    <h3>es soll zu einem zukunftsfähigen Pfarrzentrum ausgebaut werden.</h3>
    <ul class="actions align-center">
      <li><a href="#one" class="button scrolly align-left">Wir wollen!</a>
      </li>
    </ul>
  </div>
</section>

{% for section in site.sections %}
{% capture id %}{{ section.id | remove:'/' | downcase }}{% endcapture %}
{{ section.content }}
{% if id == 'sections01-wir-wollen'%}
<div class="container">
    <div class="row">
      <div class="6u">
          <h3>Events</h3>
        <ul class="align-left">
          {% for event in site.events %}
          <li><a href="{{ site.github.url }}{{ event.url }}">{{ event.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div class="6u$">
        <h3>Aktuelles</h3>
        <ul class="align-left">
          {% for news in site.news %}
            <li><a href="{{ site.github.url }}{{ news.url }}">{{ news.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
</div>
{% endif %}
{% endfor %}

<!--
<section id="four" class="main style2 special">
  <div class="container">
    <header class="major">
      <h2>Per eMail auf den Laufenden bleiben?</h2>
    </header>
    <p>Abonnieren sie unseren Newsletter</p>
    <ul class="actions uniform">
      <li><a href="#" class="button special">Sign Up</a></li>
    </ul>
  </div>
</section>
Four -->